body {
    background-color: #e9ebee;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
  }
  .align{
    text-align: center;
  }
  .padd{
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
  }
  .lien{
    text-decoration: none;
  }
  .ima{
    width: 16px;
    height: 16px;
  }