<div *ngIf="meteo && meteo.cod === 200">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">🏠</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Météo pour {{meteo.name}}</li>
      </ol>
    </nav>
  
    <div class="card" style="width:300px; margin: 0 auto" v-if="meteo">
      <div class="card-header">
        {{meteo.name}} @{{meteo.dt | date:'H:mm'}}
      </div>
      <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?markers={{meteo.coord.lat}},{{meteo.coord.lon}}&zoom=5&size=400x300&scale=2&key=AIzaSyAkmvI9DazzG9p77IShsz_Di7-5Qn7zkcg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <i v-bind:class="'wi wi-owm-day-'+meteo.weather[0].id"></i>
          {{meteo.main.temp}} 
          <i class="wi wi-celsius"></i>
        </h5>
        <p class="card-text">{{meteo.weather[0].description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="wi wi-cloud"></i> Nuage: {{meteo.clouds.all}}%
        </li>
        <li class="list-group-item">
          <i class="wi wi-humidity"></i> Humidité: {{meteo.main.humidity}}%
        </li>
        <li class="list-group-item">
          <i class="wi wi-windy"></i> Vent: {{meteo.wind.speed}} km/h
        </li>
        <li class="list-group-item">
          <i class="wi wi-sunrise"></i> Levé du soleil: {{meteo.sys.sunrise | date: 'HH:mm'}} 
        </li>
        <li class="list-group-item">
          <i class="wi wi-sunset"></i>Couché du soleil: {{meteo.sys.sunset | date: 'HH:mm'}} 
        </li>
      </ul>
    </div>
  </div>
  
  <div class="alert alert-danger" *ngIf="meteo && meteo.cod !== 200">
  
    {{meteo.message}} (erreur {{meteo.cod}})
  </div>
  


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" *ngIf="meteo && meteo.cod === 200">
      <div class="card col mb-4 mt-4" style="padding: 0px;" *ngFor="let element of meteos">
        <div class="card-header">
          {{meteo.name}} <img id="wicon" src="http://openweathermap.org/img/w/{{element.weather[0].icon}}.png" alt="Weather icon">
        </div>
         <div class="card-body">
        <h5 class="card-title">
          <i v-bind:class="'wi wi-owm-day-'+meteo.weather[0].id"></i>
          {{element.main.temp}}
          <i class="wi wi-celsius"></i>
        </h5>
        <p class="card-text">{{element.weather[0].description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="wi wi-moon-new"></i>  Date: {{element.dt_txt | date: 'dd-MM-YYY'}}
        </li>
        <li class="list-group-item">
          <i class="wi wi-cloud"></i> Nuage: {{element.clouds.all}}%
        </li>
        <li class="list-group-item">
          <i class="wi wi-humidity"></i> Humidité: {{element.main.humidity}}%
        </li>
        <li class="list-group-item">
          <i class="wi wi-windy"></i> Vent: {{element.wind.speed}} km/h
        </li>
        <li class="list-group-item">
          <i class="wi wi-thermometer-exterior"></i> Temperature min: {{element.main.temp_min }} 
        </li>
        <li class="list-group-item">
          <i class="wi wi-thermometer"></i> Temperature max: {{element.main.temp_max }} 
        </li>
      </ul>
      </div>
  </div>
